<div class="container grid-xl col-gapless">
  <div class="columns">
    <div class="column col-10">
      <div class="">
        <img id="screen" class="screen" draggable="false" alt="screen" [src]="screen" (click)="onClick($event)">
      </div>
    </div>
    <div class="column col-2">

      <ul class="menu">
        <!-- <li class="divider" data-content="Controls"></li> -->

        <!-- <li class="menu-item">
          <label class="form-switch">
            <input type="checkbox" [checked]="status.power" (change)="changeStatus('power')">
            <i class="form-icon"></i> Power
          </label>
        </li> -->

        <!-- <li class="menu-item">
          <label class="form-switch">
            <input type="checkbox" [checked]="status.ignition" (change)="changeStatus('ignition')">
            <i class="form-icon"></i> Ignition
          </label>
        </li> -->

        <!-- <li class="menu-item">
          <label class="form-switch">
            <input type="checkbox" [checked]="status.otg" (change)="changeStatus('otg')">
            <i class="form-icon"></i> OTG
          </label>
        </li> -->

        <!-- <li class="menu-item">
          <label class="form-switch">
            <input type="checkbox" [checked]="status.udp_logs" (change)="changeStatus('udp_logs')">
            <i class="form-icon"></i> UDP Logs
          </label>
        </li> -->

        <li class="divider" data-content="Actions"></li>

        <li class="menu-item">
          <button class="btn" (click)="makeAction({action: 'power_reset'})">Reset Power</button>
        </li>

        <!-- <li class="menu-item">
          <button class="btn" (click)="canModal.open()">Send CAN Message</button>
        </li> -->

        <li class="menu-item">
          <button class="btn" (click)="modalUpFile.open()">Upload File</button>
        </li>

        <li class="menu-item">
          <button class="btn" (click)="modalDownloadFile.open()">Download File</button>
        </li>

        <li class="menu-item">
          <button class="btn"
                  [class.loading]="status.installing"
                  [disabled]="status.removing || status.installing"
                  (click)="modalInstallApp.open()">Install App</button>
        </li>

        <li class="menu-item">
          <button class="btn"
                  [class.loading]="status.removing"
                  [disabled]="status.removing || status.installing"
                  (click)="modalRemoveApp.open()">Remove App</button>
        </li>
      </ul>

      <!-- <app-modal #canModal>
        <div modal-title>Send CAN Message</div>
        <div modal-content>
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-3">
                <label class="form-label">CAN Message</label>
              </div>
              <div class="col-9">
                <input #canMessage class="form-input" type="text"
                       placeholder="0000 00 00 00 00 00 00 00 00">
              </div>
            </div>
          </form>
        </div>
        <div modal-footer>
          <button class="btn btn-primary"
                  (click)="canModal.close(); makeAction({action: 'send_can', msg: canMessage.value})">
            Send
          </button>
        </div>
      </app-modal> -->

<!--       <app-modal #modalUpFile>
        <div modal-title>Upload File</div>
        <div modal-content>
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-3">
                <label class="form-label">File</label>
              </div>
              <div class="col-9">
                <input class="form-input" #uploadFile type="file">
              </div>
            </div>
            <div class="form-group">
              <div class="col-3">
                <label class="form-label">Save to</label>
              </div>
              <div class="col-9">
                <input #uploadFilePath class="form-input" type="text"
                       value="/tmp/"
                       placeholder="/tmp/path">
              </div>
            </div>
          </form>
        </div>
        <div modal-footer>
          <button class="btn btn-primary"
                  (click)="modalUpFile.close(); makeActionWithFile(uploadFile, {action: 'upload_file', path: uploadFilePath.value})">
            Upload
          </button>
        </div>
      </app-modal> -->

<!--       <app-modal #modalDownloadFile>
        <div modal-title>Download File</div>
        <div modal-content>
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-3">
                <label class="form-label">File path</label>
              </div>
              <div class="col-9">
                <input #downloadFilePath class="form-input" type="text"
                       value="/tmp/"
                       placeholder="/tmp/path">
              </div>
            </div>
          </form>
        </div>
        <div modal-footer>
          <button class="btn btn-primary"
                  (click)="modalDownloadFile.close(); makeActionWithFileDownload({action: 'download_file', path: downloadFilePath.value})">
            Download
          </button>
        </div>
      </app-modal> -->

<!--       <app-modal #modalInstallApp>
        <div modal-title>Install Application</div>
        <div modal-content>
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-3">
                <label class="form-label">File</label>
              </div>
              <div class="col-9">
                <input class="form-input" #installApp type="file">
              </div>
            </div>
          </form>
        </div>
        <div modal-footer>
          <button class="btn btn-primary"
                  (click)="modalInstallApp.close(); makeActionWithFile(installApp, {action: 'install_app'}); status.installing=true">
            Install
          </button>
        </div>
      </app-modal> -->

<!--       <app-modal #modalRemoveApp>
        <div modal-title>Remove Application</div>
        <div modal-content>
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-3">
                <label class="form-label">Application</label>
              </div>
              <div class="col-9">
                <input #appName class="form-input" type="text"
                       placeholder="name of application">
              </div>
            </div>
          </form>
        </div>
        <div modal-footer>
          <button class="btn btn-primary"
                  (click)="modalRemoveApp.close(); makeAction({action: 'remove_app', app: appName.value}); status.removing=true">
            Remove
          </button>
        </div>
      </app-modal> -->

    </div>
  </div>

  <div class="card telnet-panel">
    <div class="card-header">
      <div class="card-title h5">Telnet</div>
    </div>
    <div class="card-body">
      <div class="has-icon-left">
        <input class="form-input" type="text" tabindex="-1"
               #telnetInput
               placeholder="cmd"
               (keyup.enter)="runTelnetCmd(telnetInput.value); telnetInput.value=''">
        <i class="form-icon icon"
           [class.loading]="telnetCmdRunning"
           [class.icon-arrow-right]="!telnetCmdRunning"></i>
      </div>
      <br/>
      <pre class="code" data-lang="Output"><code>{{ telnetOutput }}</code></pre>
    </div>
  </div>

</div>

<div class="notification-bar">
  <div class="toast" *ngIf="notification" [class.toast-error]="notificationError">
    <button class="btn btn-clear float-right" (click)="notification =''"></button>
    {{ notification }}
  </div>
</div>

<div class="footer text-gray">
  <p class="copyright">&copy; QuickSystems</p>
</div>