<div class="mat-elevation-z8">

  <div class="table-container">

    <table mat-table [dataSource]="services" matSort
           [matSortActive]="currSort"
           [matSortDirection]="currOrder"
           matSortDisableClear>

      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="pid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>pid</th>
          <td mat-cell *matCellDef="let row">{{ row.pid }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>


      <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>state</th>
          <td mat-cell *matCellDef="let row">{{ row.state }}</td>
      </ng-container>

      <ng-container matColumnDef="cpu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>cpu</th>
          <td mat-cell *matCellDef="let row">{{ row.cpu}}</td>
      </ng-container>

      <ng-container matColumnDef="mem">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>mem</th>
          <td mat-cell *matCellDef="let row">{{ row.mem }}</td>
      </ng-container>

      <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>info</th>
          <td mat-cell *matCellDef="let row">{{ row.info }}</td>
      </ng-container>

      <ng-container matColumnDef="date_last_update">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>date_last_update</th>
          <td mat-cell *matCellDef="let row">{{ row.date_last_update }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  <mat-paginator [length]="resultsLength"
                 [pageIndex]="currPage"
                 [pageSize]="pageSize"></mat-paginator>

</div>