
mat-toolbar {
  justify-content: space-between;
}

.page-view {
	padding-top: 16px;
	padding-bottom: 16px;
}

.link {

}

a.link:link, a.link:visited, a.link:hover, a.link:active {
    color: white;
}

.row {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
}

.row > * {
	margin: 8px;
}
