<div class="modal" [class.modal-lg]="large" [class.active]="modalActive">
  <a (click)="modalActive = false" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container">
    <div class="modal-header">
      <button (click)="modalActive = false" class="btn btn-clear float-right"
              aria-label="Close"></button>
      <div class="modal-title h5">
        <ng-content select="[modal-title]"></ng-content>
      </div>
    </div>
    <div class="modal-body">
      <div class="content">
        <ng-content select="[modal-content]"></ng-content>
      </div>
    </div>
    <div class="modal-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </div>
</div>